<h1>Newspapers</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="hidden">Id</th>
            <th>IncludeToFile</th>
            <th>Name</th>
            <th>Publisher</th>
            <th>Command</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Periodical of newspapers; let i = index">
            <td class="hidden">
                <input [(ngModel)]="Periodical.id" (ngModelChange)="Periodical.isChanged = true;" class="form-control" type="hidden" value="{{Periodical.id}}" />
            </td>
            <td>
                <input [(ngModel)]="Periodical.includeToFile" style="width:20px;" (ngModelChange)="Periodical.isChanged = true;" class="form-control" type="checkbox" value="{{Periodical.includeToFile}}" />
            </td>
            <td>
                <input [(ngModel)]="Periodical.name" (ngModelChange)="Periodical.isChanged = true;" class="form-control" type="text" value="{{Periodical.name}}" />
            </td>
            <td>
                <input [(ngModel)]="Periodical.publisher" (ngModelChange)="Periodical.isChanged = true;" class="form-control" type="text" value="{{Periodical.publisher}}" />
            </td>
            <td>
                <button class="btn btn-default" type="button" (click)="deleteFieldValue(i , Periodical.id)">Delete</button>
                <button *ngIf="Periodical.isChanged" class="btn btn-default" type="button" (click)="editFieldValue(Periodical); Periodical.isChanged = false;">Save</button>
            </td>
        </tr>
        <tr>
            <td class="hidden">
                <input class="form-control" type="hidden" id="newAttributeId" [(ngModel)]="newAttribute.id" name="newAttributeId" />
            </td>
            <td>
                <input class="form-control" type="checkbox" style="width:20px;"  id="newAttributeIncludeToFile" [(ngModel)]="newAttribute.includeToFile" checked="checked" name="newAttributeIncludeToFile" />
            </td>
            <td>
                <input class="form-control" type="text" id="newAttributeName" [(ngModel)]="newAttribute.name" name="newAttributeName" />
            </td>
            <td>
                <input class="form-control" type="text" id="newAttributePublisher" [(ngModel)]="newAttribute.publisher" name="newAttributePublisher" />
            </td>
            <td>
                <button class="btn btn-default" type="button" (click)="addFieldValue()">Add</button>
            </td>
        </tr>
    </tbody>
</table>