<h1>Main Grid</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="hidden">Id</th>
            <th>IncludeToFile</th>
            <th>LibraryType</th>
            <th>Author</th>
            <th>Name</th>
            <th>Publisher</th>
            <th>Command</th>
        </tr>
    </thead>    
    <tbody>
        <tr *ngFor="let Book of Books; let i = index">
            <td class="hidden">
                <input [(ngModel)]="Book.id" class="form-control" LibraryType="hidden" value = "{{Book.id}}" />
            </td>
            <td>
                <input [(ngModel)]="Book.includeToFile" class="form-control" LibraryType="checkbox" value ="{{Book.includeToFile}}" />
            </td>
            <td>
                <input [(ngModel)]="Book.LibraryType" class="form-control" LibraryType="text" value = "{{Book.LibraryType}}"/>
            </td>
            <td>
                <input [(ngModel)]="Book.author" class="form-control" LibraryType="text" value="{{Book.author}}" />
            </td>
            <td>
                <input [(ngModel)]="Book.name" class="form-control" LibraryType="text" value ="{{Book.name}}" />
            </td>
            <td>
                <input [(ngModel)]="Book.publisher" class="form-control" LibraryType="text" value ="{{Book.publisher}}" />
            </td>
            <td>
                <button class="btn btn-default" LibraryType="button" (click)="deleteFieldValue(i)">Delete</button>
            </td>
        </tr>
        <tr>
            <td class="hidden">
                <input class="form-control" LibraryType="hidden" id="newAttributeId" [(ngModel)]="newAttribute.id" name="newAttributeId" />
            </td>
            <td>
                <input class="form-control" LibraryType="checkbox" id="newAttributeIncludeToFile" [(ngModel)]="newAttribute.includeToFile" name="newAttributeIncludeToFile" />
            </td>
            <td>
                <input class="form-control" LibraryType="text" id="newAttributeLibraryType" [(ngModel)]="newAttribute.LibraryType" name="newAttributeLibraryType" />
            </td>
            <td>
                <input class="form-control" LibraryType="text" id="newAttributeAuthor" [(ngModel)]="newAttribute.author" name="newAttributeAuthor" />
            </td>
            <td>
                <input class="form-control" LibraryType="text" id="newAttributeName" [(ngModel)]="newAttribute.name" name="newAttributeName" />
            </td>
            <td>
                <input class="form-control" LibraryType="text" id="newAttributePublisher" [(ngModel)]="newAttribute.publisher" name="newAttributePublisher" />
            </td>
            <td>
                <button class="btn btn-default" LibraryType="button" (click)="addFieldValue()">Add</button>
            </td>
        </tr>
    </tbody>
</table>