<h1>Main Grid</h1>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="hidden">Id</th>
            <th>IncludeToFile</th>
            <th>LibraryType</th>
            <th>Name</th>
            <th>Publisher</th>
            <th>Command</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Entity of Atheneum; let i = index">
            <td class="hidden">
                <input [(ngModel)]="Entity.id" (ngModelChange)="Entity.isChanged = true;" class="form-control" type="hidden" value="{{Entity.id}}" />
            </td>
            <td>
                <input [(ngModel)]="Entity.includeToFile" (ngModelChange)="Entity.isChanged = true;" class="form-control" type="checkbox" value="{{Entity.includeToFile}}" />
            </td>
            <td>
                <input [(ngModel)]="LibraryType[Entity.libraryType]" disabled class="form-control" type="text"  />
            </td>
            <td>
                <input [(ngModel)]="Entity.name" (ngModelChange)="Entity.isChanged = true;" class="form-control" type="text" value="{{Entity.name}}" />
            </td>
            <td>
                <input [(ngModel)]="Entity.publisher" (ngModelChange)="Entity.isChanged = true;" class="form-control" type="text" value="{{Entity.publisher}}" />
            </td>
            <td>
                <button class="btn btn-default" type="button" (click)="deleteFieldValue(i)">Delete</button>
                <button *ngIf="Entity.isChanged" class="btn btn-default" type="button" (click)="editFieldValue(Entity); Entity.isChanged = false;">Save</button>
            </td>
        </tr>
    </tbody>
</table>